<!DOCTYPE html>
<html lang="tw" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>借借露 - 忘記密碼修改</title>

  <link rel="stylesheet" href="../../static/css/materialize.min.css" th:href="@{/static/css/materialize.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/static/css/main.css}">
  <link rel="stylesheet" href="../../static/css/question-report.css" th:href="@{/static/css/question-report.css}">
</head>

<body>

<main class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="newPassword" type="text" class="validate">
          <label for="newPassword">新密碼</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="confirmPassword" type="text" class="validate">
          <label for="confirmPassword">確認密碼</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="button" class="btn waves-effect" onclick="changePassword()">送出</button>
        </div>
      </div>
    </form>
  </div>
</main>

<script src="../../static/js/materialize.min.js" th:src="@{/static/js/materialize.min.js}"></script>
<script th:inline="javascript">
    let token;

    document.addEventListener("DOMContentLoaded", function () {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        token = urlParams.get("token");

        if (!token) {
            alert("您並未攜帶驗證碼，將回到上一頁。");
            history.back();
        }
    });

    function changePassword() {
        const newPassword = document.querySelector("#newPassword").value;
        const confirmPassword = document.querySelector("#confirmPassword").value;
        if (!newPassword) {
            alert("未填寫新密碼");
        } else if (!confirmPassword) {
            alert("未填寫確認密碼");
        } else if (newPassword !== confirmPassword) {
            alert("新密碼與確認密碼不一致");
        } else {
            const url = /*[[@{/user/forgot-password/change}]]*/"";
            fetch(url, {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json;charset=UTF-8"
                },
                body: JSON.stringify({
                    token,
                    newPassword
                })
            }).then(response => response.json())
                .then(response => {
                    alert(response.message);
                    window.close();
                });
        }
    }
</script>
</body>
</html>