<!DOCTYPE html>
<html lang="tw" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>借借露 - 管理者頁面</title>

  <link rel="stylesheet" href="../../static/css/materialize.min.css" th:href="@{/static/css/materialize.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/static/css/main.css}">
  <link rel="stylesheet" href="../../static/css/question-report.css" th:href="@{/static/css/question-report.css}">
</head>

<body>
<nav>
  <div class="nav-wrapper">
    <a class="sidenav-trigger" href="#" data-target="slide-out">
      <i class="material-icons">menu</i>
    </a>

    <a class="brand-logo right" href="#">
      <i class="material-icons">account_circle</i>
      <span class="account" th:text="${#authorization.authentication.principal}">帳號</span>
    </a>
  </div>
</nav>

<ul id="slide-out" class="sidenav sidenav-fixed collection with-header">
  <li class="collection-header">
    <a class="home" href="../rental_record/index.html" th:href="@{/rental/manager}">
      <img class="logo col" alt="logo" src="../../static/images/logo.png" th:src="@{/static/images/logo.png}"/>
      <span class="col">管理者頁面</span>
    </a>
  </li>

  <li class="collection-item">
    <a href="../problem_report/index.html" th:href="@{/problem-report/manager}">
      <i class="material-icons">help</i>
      <span>問題回報</span>
    </a>
  </li>
  <li class="collection-item">
    <a href="../rental_record/index.html" th:href="@{/rental/manager}">
      <i class="material-icons">view_list</i>
      <span>訂單管理</span>
    </a>
  </li>
  <li class="collection-item">
    <a href="../user/index.html" th:href="@{/user/manager}">
      <i class="material-icons">account_box</i>
      <span>使用者管理</span>
    </a>
  </li>
  <li class="collection-item">
    <a href="../third_party_record/index.html" th:href="@{/third-party-product}">
      <i class="material-icons">assessment</i>
      <span>其他商家資料</span>
    </a>
  </li>

  <div class="divider"></div>

  <li class="collection-item">
    <a href="#" onclick="logout()" th:onclick="|logout('@{/}')|">登出</a>
  </li>
</ul>

<main class="container">
  <table class="striped centered">
    <thead>
    <tr>
      <th>帳號</th>
      <th>暱稱</th>
      <th>性別</th>
      <th>動作</th>
    </tr>
    </thead>

    <tbody id="userTable" th:remove="body">
    <tr>
      <td>admin</td>
      <td>系統管理員</td>
      <td>男</td>
      <td>
        <button class="waves-effect waves-light btn modal-trigger"
                data-target="modal1">
          禁用
        </button>
        <button class="waves-effect waves-light btn modal-trigger"
                data-target="modal1">
          啟用
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <ul class="pagination" id="pagination">
    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>

    <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</main>

<div id="modal" class="modal">
  <div class="modal-content">
    <h4 id="title">系統管理員</h4>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate" id="account" value="admin" disabled>
        <label for="account">帳號</label>
      </div>
      <div class="input-field col s6">
        <input type="text" class="validate" id="enable" value="啟用中" disabled>
        <label for="enable">狀態</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate" id="roleName" value="系統管理員" disabled>
        <label for="roleName">權限</label>
      </div>
      <div class="input-field col s6">
        <input type="text" class="validate" id="gender" value="男" disabled>
        <label for="gender">性別</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate" id="name" value="系統 管理員" disabled>
        <label for="name">姓名</label>
      </div>
      <div class="input-field col s6">
        <input type="text" class="validate" id="nickName" value="測試" disabled>
        <label for="nickName">暱稱</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate" id="birthday" value="1999/04/03" disabled>
        <label for="birthday">生日</label>
      </div>
      <div class="input-field col s6">
        <input type="text" class="validate" id="address" value="台北市中正區濟南路321號" disabled>
        <label for="address">地址</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate" id="cellPhone" value="0912364587" disabled>
        <label for="cellPhone">電話</label>
      </div>
      <div class="input-field col s6">
        <input type="text" class="validate" id="email" value="10646007@ntub.edu.tw" disabled>
        <label for="email">信箱</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-close waves-effect waves-green btn-flat">關閉</a>
  </div>
</div>

<script src="../../static/js/materialize.min.js" th:src="@{/static/js/materialize.min.js}"></script>
<script src="../../static/js/sidenav.js" th:src="@{/static/js/sidenav.js}"></script>
<script src="../../static/js/modal.js" th:src="@{/static/js/modal.js}"></script>
<script src="../../static/js/pagination.js" th:src="@{/static/js/pagination.js}"></script>
<script src="../../static/js/pagination.js" th:src="@{/static/js/logout.js}"></script>
<script th:inline="javascript">
    let table;

    document.addEventListener("DOMContentLoaded", function () {
        M.Modal.init(document.querySelectorAll(".modal"));
        table = new Table("userTable", /*[[${userList}]]*/[], function (index, user) {
            const getOperationHtml = user => {
                if (user.enable) {
                    return `
                        <button class="waves-effect waves-light btn" onclick="disable(${table.data.indexOf(user)}, '${user.account}')">
                          禁用
                        </button>
                    `;
                } else {
                    return `
                        <button class="waves-effect waves-light btn" onclick="enable(${table.data.indexOf(user)}, '${user.account}')">
                          啟用
                        </button>
                    `;
                }
            };
            return `
            <tr>
              <td>${user.account}</td>
              <td>${user.nickName}</td>
              <td>${user.gender}</td>
              <td>
                  <button class="waves-effect waves-light btn" onclick="displayDetailModal(${table.data.indexOf(user)}, '${user.account}')">
                    詳細資料
                  </button>
                  ${getOperationHtml(user)}
              </td>
            </tr>
            `;
        }, "pagination", 10);
        table.reload();
    });

    function displayDetailModal(index, account) {
        const url = /*[[@{/user/manager/#account#}]]*/"";
        fetch(url.replace("#account#", account))
            .then(response => response.json())
            .then(response => {
                if (response.result) {
                    const user = response.data;
                    const titleElement = document.querySelector("#title");
                    titleElement.removeChild(titleElement.firstChild);
                    titleElement.appendChild(document.createTextNode(`${user.lastName}${user.firstName}`));
                    document.querySelector("#account").value = user.account;
                    document.querySelector("#enable").value = user.enable ? "啟用中" : "禁用中";
                    document.querySelector("#roleName").value = user.roleName;
                    document.querySelector("#gender").value = user.gender;
                    document.querySelector("#name").value = `${user.lastName} ${user.firstName}`;
                    document.querySelector("#nickName").value = user.nickName;
                    document.querySelector("#birthday").value = user.birthday;
                    document.querySelector("#address").value = user.address;
                    document.querySelector("#cellPhone").value = user.cellPhone;
                    document.querySelector("#email").value = user.email;
                    M.updateTextFields();
                    const modal = M.Modal.getInstance(document.querySelector("#modal"));
                    modal.open();
                }
            });
    }

    function enable(index, account) {
        send(index, /*[[@{/user/#account#/enable}]]*/"", account);
    }

    function send(index, url, account) {
        fetch(url.replace("#account#", account), {
            method: "PATCH"
        }).then(response => response.json())
            .then(response => {
                table.data[index].enable = !table.data[index].enable;
                table.reload();
                alert(response.message);
            })
    }

    function disable(index, account) {
        send(index, /*[[@{/user/#account#/disable}]]*/"", account);
    }
</script>
</body>

</html>