<!DOCTYPE html>
<html lang="tw" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>借借露 - 管理者頁面</title>

  <link rel="stylesheet" href="../static/css/materialize.min.css" th:href="@{/static/css/materialize.min.css}">
  <link rel="stylesheet" href="../static/css/main.css" th:href="@{/static/css/main.css}">
  <link rel="stylesheet" href="../static/css/login.css" th:href="@{/static/css/login.css}">
</head>

<body>
<div class="row">
  <div class="col s6 left">
  </div>

  <div class="col s6 center-align right">
    <img class="logo" alt="logo" src="../static/images/logo.png" th:src="@{/static/images/logo.png}"/>

    <h4 class="title">管理者頁面</h4>
    <span class="sub-title">歡迎回來! 請登入您的帳號.</span>

    <form>
      <div class="input-field">
        <input type="text" id="account" class="validate">
        <label for="account">帳號</label>
      </div>

      <div class="input-field">
        <input type="password" id="password" class="validate">
        <label for="password">密碼</label>
      </div>

      <button type="button" class="waves-effect waves-light btn" onclick="login()">登入</button>
    </form>
  </div>
</div>

<script src="../static/js/materialize.min.js" th:src="@{/static/js/materialize.min.js}"></script>
<script th:inline="javascript">
    function login() {
        const form = document.forms[0];
        fetch(/*[[@{/login}]]*/"http://211.75.1.201:50004/login", {
            method: "POST",
            body: JSON.stringify({
                "account": form.account.value,
                "password": form.password.value
            }),
            headers: {
                "Content-Type": "application/json;charset=UTF-8"
            }
        }).then(response => response.json())
            .then(response => {
                if (response.result) {
                    location.href = /*[[@{/problem-report/manager}]]*/"http://211.75.1.201:50004/problem-report/manager";
                } else {
                    alert(response.message);
                }
            });
    }
</script>
</body>

</html>