<!DOCTYPE html>
<html lang="tw" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>借借露 - 管理者頁面</title>

  <link rel="stylesheet" href="../../static/css/materialize.min.css" th:href="@{/static/css/materialize.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/static/css/main.css}">
  <link rel="stylesheet" href="../../static/css/question-report.css" th:href="@{/static/css/question-report.css}">
  <link rel="stylesheet" href="../../static/css/question-report.css" th:href="@{/static/css/rental-record.css}">
</head>

<body>
<nav>
  <div class="nav-wrapper">
    <a class="sidenav-trigger" href="#" data-target="slide-out">
      <i class="material-icons">menu</i>
    </a>

    <a class="brand-logo right" href="#">
      <i class="material-icons">account_circle</i>
      <span class="account" th:text="${#authorization.authentication.principal}">帳號</span>
    </a>
  </div>
</nav>

<ul id="slide-out" class="sidenav sidenav-fixed collection with-header">
  <li class="collection-header">
    <a class="home" href="#" th:href="@{/rental/manager}">
      <img class="logo col" alt="logo" src="../../static/images/logo.png" th:src="@{/static/images/logo.png}"/>
      <span class="col">管理者頁面</span>
    </a>
  </li>

  <li class="collection-item">
    <a href="#" th:href="@{/problem-report/manager}">
      <i class="material-icons">help</i>
      <span>問題回報</span>
    </a>
  </li>
  <li class="collection-item">
    <a href="#" th:href="@{/rental/manager}">
      <i class="material-icons">view_list</i>
      <span>訂單管理</span>
    </a>
  </li>
  <li class="collection-item">
    <a href="#" th:href="@{/user/manager}">
      <i class="material-icons">account_box</i>
      <span>使用者管理</span>
    </a>
  </li>
  <li class="collection-item">
    <a href="#" th:href="@{/third-party-product}">
      <i class="material-icons">assessment</i>
      <span>其他商家資料</span>
    </a>
  </li>

  <div class="divider"></div>

  <li class="collection-item">
    <a href="#">登出</a>
  </li>
</ul>

<main class="container">
  <div class="row">
    <div class="input-field col s3">
      <i class="material-icons prefix">date_range</i>
      <input type="text" class="datepicker" id="startDate"><label for="startDate">起始日期</label>
    </div>
    <div class="input-field col s3">
      <i class="material-icons prefix">date_range</i>
      <input type="text" class="datepicker" id="endDate"><label for="endDate">結束日期</label>
    </div>
    <div class="input-field col s4">
      <select name="status" id="status">
        <option value="" disabled selected>請選擇狀態</option>
        <option value="1" th:each="status, state : ${statusList}" th:text="${status.toString()}"
                th:value="${status.name()}">未取貨
        </option>
      </select>
      <label for="status">狀態</label>
    </div>
    <div class="input-field col s2">
      <button class="btn waves-effect waves-light" type="submit" onclick="searchFilter()">
        搜尋
        <i class="material-icons right">search</i>
      </button>
    </div>
  </div>

  <table class="striped centered">
    <thead>
    <tr>
      <th>訂單編號</th>
      <th>狀態</th>
      <th>日期</th>
      <th>動作</th>
    </tr>
    </thead>

    <tbody id="rentalRecordTable" th:remove="body">
    <tr>
      <td>0 0 0 1 2 3</td>
      <td>處理中</td>
      <td>09/11</td>
      <td>陳先生帳篷髒污問題</td>
    </tr>
    </tbody>
  </table>

  <ul class="pagination" id="pagination">
    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>

    <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</main>

<div id="productStatusModal" class="modal">
  <div class="modal-content">
    <h4>商品狀況</h4>
    <form>
      <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea" name="productStatus" id="productStatus" rows="4"></textarea>
          <label for="productStatus">商品狀況</label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>選擇圖片</span>
            <input type="file" id="images" accept="image/*" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="上傳圖片">
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <button class="col s1 btn waves-effect waves-light right" id="productStatusSubmit"
              onclick="createRecord(this.dataset.index)">新增紀錄
      </button>
    </div>
    <table class="striped centered">
      <thead>
      <tr>
        <th>狀態</th>
        <th>敘述</th>
        <th>圖片</th>
      </tr>
      </thead>
      <tbody id="productStatusTable">

      </tbody>
    </table>
    <ul class="pagination" id="productStatusPagination">
      <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>

      <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-close waves-effect waves-green btn-flat">關閉</a>
  </div>
</div>

<div id="terminateModal" class="modal">
  <div class="modal-content">
    <h4>退貨</h4>
    <div class="row">
      <div class="col s12">
        <div class="input-field">
          <textarea class="materialize-textarea" name="terminateDescription" id="terminateDescription"
                    rows="4"></textarea>
          <label for="terminateDescription" id="terminateDescriptionLabel">退貨原因</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-close waves-effect waves-green btn-flat" id="terminateSubmit"
       onclick="createTerminateRecord(this)">確定</a>
  </div>
</div>

<div id="terminateDescriptionModal" class="modal">
  <div class="modal-content">
    <h4>退貨</h4>
    <div class="row">
      <div class="col s12">
        <div class="input-field">
          <textarea class="materialize-textarea" id="terminateDescriptionDescription" rows="4" disabled></textarea>
          <label for="terminateDescriptionDescription">退貨原因</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-close waves-effect waves-green btn-flat">確定</a>
  </div>
</div>

<div id="compensateModal" class="modal">
  <div class="modal-content">
    <h4>賠償</h4>
    <div class="row">
      <div class="col s12">
        <div class="input-field">
          <textarea class="materialize-textarea" name="compensateDescription" id="compensateDescription"
                    rows="4"></textarea>
          <label for="compensateDescription" id="compensateDescriptionLabel">賠償原因</label>
        </div>
        <div class="input-field">
          <input id="compensatePrice" type="text" class="validate">
          <label for="compensatePrice">賠償金額</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-close waves-effect waves-green btn-flat" id="compensateSubmit"
       onclick="createCompensateRecord(this)">確定</a>
  </div>
</div>

<script src="../../static/js/materialize.min.js" th:src="@{/static/js/materialize.min.js}"></script>
<script src="../../static/js/sidenav.js" th:src="@{/static/js/sidenav.js}"></script>
<script src="../../static/js/modal.js" th:src="@{/static/js/modal.js}"></script>
<script src="../../static/js/pagination.js" th:src="@{/static/js/pagination.js}"></script>
<script th:inline="javascript">
    const datePerPage = 12;
    let table;

    document.addEventListener("DOMContentLoaded", function () {
        table = new Table("rentalRecordTable", /*[[${rentalRecordList}]]*/[], rentalRecordToTrHtml, "pagination", datePerPage);
        table.reload();
        initMaterializeInstances();
    });

    function initMaterializeInstances() {
        M.Datepicker.init(document.querySelectorAll(".datepicker"), {
            format: "yyyy/mm/dd",
            showClearBtn: true,
            i18n: {
                cancel: "取消",
                clear: "清除",
                done: "確定",
                months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                weekdays: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                weekdaysShort: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                weekdaysAbbrev: ["日", "一", "二", "三", "四", "五", "六"]
            },
        });
        M.FormSelect.init(document.querySelectorAll("select"));
        M.Modal.init(document.querySelectorAll(".modal"));
    }

    function rentalRecordToTrHtml(index, rentalRecord) {
        const getStatusOperationHtml = () => {
            switch (rentalRecord.status) {
                case "未寄放":
                    return `
                        <button class="btn waves-effect waves-light action" type="button" onclick="displayProductDescriptionModal(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            檢視商品狀況
                        </button>
                        <button class="btn waves-effect waves-light action" type="button" onclick="placed(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            寄放完成
                        </button>
                        <button class="btn waves-effect waves-light action" type="button" onclick="terminated(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            退貨
                        </button>
                    `;
                case "未領取":
                    return `
                        <button class="btn waves-effect waves-light action" type="button" onclick="displayProductDescriptionModal(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            檢視商品狀況
                        </button>
                        <button class="btn waves-effect waves-light action" type="button" onclick="pickUp(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            取貨完成
                        </button>
                        <button class="btn waves-effect waves-light action" type="button" onclick="terminate(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            退貨
                        </button>
                    `;
                case "已取回":
                    return `
                        <button class="btn waves-effect waves-light action" type="button" onclick="displayProductDescriptionModal(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            檢視商品狀況
                        </button>
                        <button class="btn waves-effect waves-light action" type="button" onclick="displayTerminateDescriptionModal(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            退貨原因
                        </button>
                    `;

                case "未歸還":
                    return `
                        <button class="btn waves-effect waves-light action" type="button" onclick="displayProductDescriptionModal(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            檢視商品狀況
                        </button>
                        <button class="btn waves-effect waves-light action" type="button" onclick="doReturn(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            歸還完成
                        </button>
                        <button class="btn waves-effect waves-light action" type="button" onclick="compensate(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            求償
                        </button>
                    `;
                case "未取回":
                    return `
                        <button class="btn waves-effect waves-light action" type="button" onclick="displayProductDescriptionModal(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            檢視商品狀況
                        </button>
                        <button class="btn waves-effect waves-light action" type="button" onclick="retrieve(${table.data.indexOf(rentalRecord)}, ${rentalRecord.id})">
                            取回商品
                        </button>
                    `;
                default:
                    return "";
            }
        };
        return `
            <tr>
                <td>${rentalRecord.idString}</td>
                <td>${rentalRecord.status}</td>
                <td>${rentalRecord.rentalDate.replace("T", " ")}</td>
                <td>
                    ${getStatusOperationHtml()}
                </td>
            </tr>
            `;
    }

    function searchFilter() {
        let url = /*[[@{/rental/manager/filter}]]*/"";
        const params = {
            status: document.querySelector("#status").value,
            rentalStartDate: document.querySelector("#startDate").value,
            rentalEndDate: document.querySelector("#endDate").value
        };
        url = `${url}?${new URLSearchParams(params).toString()}`;
        fetch(url)
            .then(response => response.json())
            .then(response => {
                if (response.result) {
                    table = new Table("rentalRecordTable", response.data, rentalRecordToTrHtml, "pagination", datePerPage);
                    table.reload();
                } else {
                    alert(response.message);
                }
            });
    }

    function displayProductDescriptionModal(index, id) {
        searchCheckLog(id);
        const modalSubmitButton = document.querySelector("#productStatusSubmit");
        modalSubmitButton.setAttribute("data-index", index);
        const modal = M.Modal.getInstance(document.querySelector("#productStatusModal"));
        modal.open();
    }

    function searchCheckLog(id) {
        fetch(getReplacedUrl(/*[[@{/rental/#id#/status/check-log}]]*/"", id))
            .then(response => response.json())
            .then(response => {
                if (response.result) {
                    let productStatusTable = new Table(
                        "productStatusTable",
                        response.data,
                        (index, row) => `
                        <tr>
                            <td>${row.recordStatus}</td>
                            <td>${row.content}</td>
                            <td>${row.imageArray}</td>
                        </tr>
                    `,
                        "productStatusPagination",
                        5
                    );
                    productStatusTable.reload();
                }
            });
    }

    function createRecord(index) {
        const descriptionElement = document.querySelector("#productStatus");
        const imagesElement = document.querySelector("#images");
        const record = table.data[index];
        const url = /*[[@{/rental/#id#/status/check-log}]]*/"";
        const formData = new FormData();
        formData.append("content", descriptionElement.value);
        for (const file of imagesElement.files) {
            formData.append("images", file);
        }
        fetch(getReplacedUrl(url, record.id), {
            method: "POST",
            body: formData
        }).then(response => response.json())
            .then(response => {
                if (response.result) {
                    if (response.data) {
                        descriptionElement.form.reset();
                        searchCheckLog(record.id);
                    }
                }
                alert(response.message);
            });
    }

    function terminated(index, id) {
        changeStatus(getReplacedUrl(/*[[@{/rental/#id#/status/be-returned}]]*/"", id), "PATCH", index);
    }

    function getReplacedUrl(url, id) {
        return url.replace("#id#", id);
    }

    function placed(index, id) {
        changeStatus(getReplacedUrl(/*[[@{/rental/#id#/status/placed}]]*/"", id), "PATCH", index);
    }

    function terminate(index, id) {
        const modalSubmitButton = document.querySelector("#terminateSubmit");
        modalSubmitButton.setAttribute("data-id", id);
        modalSubmitButton.setAttribute("data-index", index);
        const modal = M.Modal.getInstance(document.querySelector("#terminateModal"));
        modal.open();
    }

    function createTerminateRecord(button) {
        const id = button.dataset.id;
        const index = button.dataset.index;
        fetch(getReplacedUrl(/*[[@{/rental/#id#/status/terminate}]]*/"", id), {
            method: "PATCH",
            body: JSON.stringify({
                description: document.querySelector("#terminateDescription").value
            }),
            headers: {
                "Content-Type": "application/json;charset=UTF-8"
            }
        }).then(response => response.json())
            .then(response => {
                if (response.result) {
                    if (response.data) {
                        table.data[index].status = response.data.name;
                        table.reload();
                        document.querySelector("#terminateDescription").value = "";
                    }
                }
                alert(response.message);
            })
    }

    function displayTerminateDescriptionModal(index, id) {
        fetch(getReplacedUrl(/*[[@{/rental/#id#/terminate-description}]]*/"", id))
            .then(response => response.json())
            .then(response => {
                if (response.result) {
                    document.querySelector("#terminateDescriptionDescription").value = response.data.description;
                    M.updateTextFields();
                    const modal = M.Modal.getInstance(document.querySelector("#terminateDescriptionModal"));
                    modal.open();
                } else {
                    alert(response.message);
                }
            });
    }

    function changeStatus(url, index) {
        fetch(url, {
            method: "PATCH"
        }).then(response => response.json())
            .then(response => {
                if (response.result) {
                    table.data[index].status = response.data.name;
                    table.reload();
                }
                alert(response.message);
            });
    }

    function pickUp(index, id) {
        changeStatus(getReplacedUrl(/*[[@{/rental/#id#/status/pick-up}]]*/"", id), "PATCH", index);
    }

    function alreadyTerminate(index, id) {
        changeStatus(getReplacedUrl(/*[[@{/rental/#id#/status/already-terminate}]]*/"", id), index);
    }

    function compensate(index, id) {
        const modalSubmitButton = document.querySelector("#compensateSubmit");
        modalSubmitButton.setAttribute("data-id", id);
        modalSubmitButton.setAttribute("data-index", index);
        const modal = M.Modal.getInstance(document.querySelector("#compensateModal"));
        modal.open();
    }

    function createCompensateRecord(button) {
        const id = button.dataset.id;
        const index = button.dataset.index;
        fetch(getReplacedUrl(/*[[@{/rental/#id#/status/compensate}]]*/"", id), {
            method: "PATCH",
            body: JSON.stringify({
                description: document.querySelector("#compensateDescription").value,
                compensatePrice: document.querySelector("#compensatePrice").value
            }),
            headers: {
                "Content-Type": "application/json;charset=UTF-8"
            }
        }).then(response => response.json())
            .then(response => {
                if (response.result) {
                    if (response.data) {
                        table.data[index].status = response.data.name;
                        table.reload();
                        document.querySelector("#compensateDescription").value = "";
                        document.querySelector("#compensatePrice").value = "";
                    }
                }
                alert(response.message);
            })
    }

    function doReturn(index, id) {
        changeStatus(getReplacedUrl(/*[[@{/rental/#id#/status/return}]]*/"", id), "PATCH", index);
    }

    function retrieve(index, id) {
        changeStatus(getReplacedUrl(/*[[@{/rental/#id#/status/retrieve}]]*/"", id), index);
    }

</script>
</body>

</html>