<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>借借露 - 忘記密碼</title>
</head>
<body th:object="${token}">

<div>
  <p>您好，您在
    <th:block th:text="*{#temporals.format(createDate, 'yyyy/MM/dd HH:mm:ss')}">2020/11/23 22:52:45</th:block>
    提出忘記密碼申請
  </p>

  <p><a href="http://211.75.1.201:50004/user/change-password"
        th:href="@{http://211.75.1.201:50004/user/change-password(token=*{token})}">請點選此連結以前往修改密碼頁面重新設定您的密碼</a>
  </p>

  <p>若您並未提出忘記密碼申請，請盡速修改您的密碼，謝謝！</p>
</div>
</body>
</html>