* {
    padding: 0;
    margin: 0;
    font-family: Arial, "Microsoft JhengHei", sans-serif;
}

html,
body {
    height: 100%;
}

/* side nav */
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/* input */
input:focus + label,
.materialize-textarea:focus + label {
    color: #c0dd6f !important;
}

input:focus,
.materialize-textarea:focus {
    border-bottom: 1px solid #c0dd6f !important;
    box-shadow: 0 1px 0 0 #c0dd6f !important;
}

/* button */
button.btn {
    padding: 0 15%;
    background-color: #c0dd6f;
}

button.btn:hover {
    background-color: #c0dd6f;
}
