nav {
    background-color: #c0dd6f;
}

nav .brand-logo {
    margin-right: 20px;
    color: white;
    font-size: 15px;
}

nav .brand-logo i {
    font-size: 40px;
}

.sidenav li > a.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    font-weight: bold;
    padding: 40px 10px;
}

.sidenav li > a {
    padding: 0;
}

.sidenav li > a:hover {
    background: none;
}

.logo {
    width: 50px;
}

.collection .collection-item {
    border-bottom: none;
}

.container {
    margin-top: 5%;
    width: 100%;
}

table {
    width: 100%;
}

.pagination {
    margin-top: 5%;
    text-align: center;
}

.pagination li.active {
    background-color: #c0dd6f;
}

.modal-content .sub-title {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    color: gray;
}

.modal-content form {
    margin-top: 50px;
}

.modal button.btn-flat {
    color: white;
}

.modal button.btn-flat.modal-close {
    background-color: red;
}

.modal button.btn-flat.reply {
    background-color: #c0dd6f;
}
